@use '../../styles'

h3
    color: rgb(255, 255, 255)

#container
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

#project
    display: flex
    justify-self: center
    align-self: center

    @include styles.window()

#codeMenu 
    display: flex
    flex-direction: column
    position: absolute
    text-align: center
    align-self: center
    top: 25%

#bottomBar
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    background-color: styles.$blue
    align-self: center
    width: 100%
    position: fixed
    bottom: 0
    left: 0
    right: 0
    height: 50px
    padding: 5px 0px

    @include styles.window()
    
#bottomBar button
    color: #ffffff
    border: none
    padding: 0px 20px
    text-align: center
    display: inline-block
    font-size: 16px
    margin: 4px 2px
    cursor: pointer

    @include styles.button()

#top 
    align-self: center