<div id="container">
  
  <!-- TOP -->
  <div id="top"><h3>{{displayedProject}}</h3></div>
  
  <!-- MENU -->
  <div id="codeMenu" *ngIf="codeMenuOpen">
    <app-code-menu (projectSelected)="changeDisplayedProject($event)"></app-code-menu>
  </div>

  <!-- PROJECTS -->
  <div id="project">
    <ng-container [ngSwitch]="displayedProject">
      <!-- <h1 *ngSwitchCase="'Choose a Project'">Choose a Project</h1> -->
      <div *ngSwitchCase="projects[0]"><app-trivia></app-trivia></div>
      <div *ngSwitchCase="projects[1]"><app-word-game></app-word-game></div>
      <div *ngSwitchCase="projects[2]"><app-binder></app-binder></div>
      <div *ngSwitchDefault></div>
    </ng-container>
  </div>

  <!-- BOTTOM -->
  <div id="bottomBar">
    <button type="button" (click)="incrementProject(false)"><==</button>
    <button type="button" (click)="codeMenuOpen = !codeMenuOpen">Projects</button>
    <button type="button" (click)="incrementProject(true)">==></button>
  </div>
</div>
