@use '../../../styles'
    
#menu
    padding: 28px
    background-color: styles.$blue

#links
    display: flex
    flex-direction: column

#links a 
    font-size: 14px
    padding: 7px
    margin: 7px
    font-weight: bold
    
    @include styles.button()

h1 
    color: #ffffff
    margin: 0px 0px 28px 0px





