$rust: rgb(131,8,8)
$brown: rgb(69,58,60)
$blue: rgb(57,100,141)
$silver: rgb(182,182,182)

h1
    font-size: 80px
    color: $silver

html
    width: 100%
    height: 100%
    font-family: 'Space Mono', monospace
    background-color: black 
    background-image: url("./assets/Ghibli/Howl (11).png")  

body
    width: 100%
    height: 100%

@mixin button($color: $silver)
    color: $blue
    border-radius: 4px
    background-color: rgba($color, 1)
    font-family: 'Space Mono', monospace
    font-weight: bold
    &:hover
        background-color: rgba($color, 0.7)
        cursor: pointer

@mixin window($color: $blue)
    background-image: none 
    background-color: rgba($color, 0.7)
    border-radius: 16px
    border: 2px solid rgba($color, 1)
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.5))