$rust: rgb(131,8,8)
$brown: rgb(69,58,60)
$blue: rgb(57,100,141)
$silver: rgb(182,182,182)

h1
    font-size: 80px
    color: $silver

body
    background-color: black 
    background-image: url("./assets/Stars.jpg") 
    background-repeat: repeat

@mixin button($color: $silver)
    color: $blue
    border-radius: 4px

    background-color: rgba($color, 1)
    &:hover
        background-color: rgba($color, 0.7)
        cursor: pointer

@mixin window($color: $blue)
    background-color: rgba($color, 0.7)
    border-radius: 16px
    border: 2px solid rgba($color, 1)